* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

:root {
  /* ? subheader color */
  --subheading-bg--color: #30302d;
  --subheading-color: white;
  /* ? SIGN IN PAGE */
  --signPage-bg--color: #30302d;
  --singIn-bg--color: black;
  --singIn-color: white;
  /* ?Header Page */
  --header-bg-color: black;
  --header-color: white;
}

/* ? Subheading Page */
.subheader {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--subheading-bg--color);
  color: var(--subheading-color);
}

.subheader .signs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
}

.sign {
  text-decoration: none;
  color: black;
  border: 1px solid #d6ff41;
  background-color: #d6ff41;
  font-weight: 700;
  padding: 8px 16px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

/* ? SIGN IN PAGE  */
.singInPage {
  width: 100vw;
  min-height: 120vh;
  background-color: var(--signPage-bg--color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.singInBox {
  width: 400px;
  height: 650px;
  background-color: var(--singIn-bg--color);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  color: var(--singIn-color);
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.singInTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
}

.singInTextContainer h2 {
  font-size: 30px;
}

.singInTextContainer p {
  font-size: 18px;
}

.singInTextContainer p span {
  font-weight: 900;
}

.signInputBox {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.f {
  margin-top: 10px;
  padding-left: 2.2rem;
}

.emailAddressBox {
  border: 1px solid white;
  padding: 8px 16px;
  width: 300px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.emailAddress {
  padding: 4px 16px;
  background-color: black;
  color: white;
  border: none;
  outline: none;
  font-size: 20px;
}

.email {
  color: white;
  font-size: 30px;
}

.passwoedBox {
  border: 1px solid white;
  padding: 8px 16px;
  width: 300px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.emailPasswoed {
  padding: 4px 16px;
  background-color: black;
  color: white;
  border: none;
  outline: none;
  font-size: 20px;
}

.singIn {
  width: fit-content;
  margin-top: 2rem;
  padding: 1rem 6rem;
  font-size: 20px;
  margin-left: 4rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  outline: none;
  border: none;
  background-color: #d6ff41;
  margin-bottom: 2rem;
}

.otherOption {
  padding-top: 1rem;
  border-top: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.googleBox {
  padding: 8px 16px;
  border: 1px solid white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.Google {
  text-decoration: none;
  color: white;
}

.facebookBox {
  padding: 8px 16px;
  border: 1px solid white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.FaceBook {
  text-decoration: none;
  color: white;
}

.XBox {
  padding: 8px 16px;
  border: 1px solid white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.X {
  text-decoration: none;
  color: white;
}

.appleBox {
  padding: 8px 16px;
  border: 1px solid white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.Apple {
  text-decoration: none;
  color: white;
  margin-bottom: 1rem;
}

/* ? SINGOUT PAGE */

.singOutPage {
  width: 100vw;
  min-height: 140vh;
  background-color: var(--signPage-bg--color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.singOutBox {
  width: 400px;
  height: 750px;
  background-color: var(--singIn-bg--color);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  color: var(--singIn-color);
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nameBox {
  padding: 8px 16px;
  border: 1px solid white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.name {
  padding: 4px 18px;
  background-color: black;
  color: white;
  border: none;
  outline: none;
  font-size: 20px;
}

.terms {
  color: rgb(165, 165, 8);
}

.checkbox {
  margin-left: 10px;
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}

.signUp {
  width: fit-content;
  margin-top: 2rem;
  padding: 1rem 6rem;
  font-size: 20px;
  margin-left: 4rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  outline: none;
  border: none;
  background-color: #d6ff41;
  margin-bottom: 2rem;
  cursor: pointer;
}

/* ? Header page start  */
.header {
  padding: 1rem 1rem;
  background-color: var(--header-bg-color);
  color: var(--header-color);
}

.headerTextContainer {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 1px solid white; */
}

.navBar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.navOption {
  text-decoration: none;
  color: white;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}

.navOption:hover {
  color: #63d72a;
  border-bottom: 1px solid #63d72a;
}

/* ? Main page  */
.mainPage {
  min-height: 105vh;
  width: 100vw;
  background-color: black;
}

.mainPageContainer{
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.mainLeft{
  margin-top: 8rem;
  width: 1000px;
  height: 500px;
}

.mainRight{
 width: 600px;
  height: 500px;
}

.mainRight img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mainLeft{
  color: white;
  display: flex;
  flex-direction: column;
}

.mainLeftHeading{
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.mainLeftHeading p{
  font-size: 25px;
  margin-bottom: 1.5rem;
}

.mainLeftHeading h1{
  font-size: 80px;
  color: #d6ff41;
  line-height: 40px;
  text-transform: uppercase;
}

.mainLeftText{
  margin-top: 5rem;
  font-size: 20px;
  letter-spacing: 1px;
  word-spacing: 2px;
  line-height: 25px;
}

.shopPage{
  width: fit-content;
  margin-top: 6rem;
  text-decoration: none;
  font-size: 20px;
  color: black;
  background-color: white;
  border: 1px solid black;
  padding: 1rem 3rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.shopPage:hover{
  background-color: #d6ff41;
  color: black;
}

.page_two{
  min-height: 100vh;
  width: 100vw;
  background-color: black;
  color: white;
  padding: 1rem 2rem;
}

.page_twoTextContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page_twoTextContainer h1{
  font-size: 50px;
}

.seeProduct{
  text-decoration: none;
  color: black;
  background-color: #d6ff41;
  padding: 8px 16px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/* ? Product Container */
.productContainer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* ? Product Section */
.productCart{
  margin-top: 4rem;
  background-color: black;
  color: rgb(210, 208, 208);
  padding: 1rem 2rem;
  width: 350px;
  border: 2px solid rgb(208, 206, 206);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
 
}

.productCart:hover{
 border: 3px solid rgb(208, 206, 206);
 scale: 1.02;
 box-shadow: rgb(245, 240, 240) 0px 3px 8px;
}


.imageContainer{
  width: 280px;
  height: 200px;
  background-color: red;
}

.productCategory{
  width: fit-content;
  font-size: 16px;
  border: 1px solid white;
  background-color: white;
  color: black;
  padding: 4px 8px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  margin-bottom: 1rem;
}

.imageContainer{
  margin-bottom: 1rem;
}

.imageContainer img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.productInformation{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 1rem;
}

.productStar .star{
  background-color: rgba(245, 245, 51, 0.92);
}

.productPrice{
  display: flex;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.quantityStock p{
  margin-bottom: 10px;
}

.quantitySec{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.priceButton{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 1rem;
}

.priceButton .add{
  padding: 1px 10px;
  font-size: 20px;
}

.priceButton .value{
  font-size: 30px;
}

.priceButton .subtract{
  padding: 1px 10px;
  font-size: 20px;
}

.addtocartBtn{
  padding: 8px 20px;
  background-color: white;
  outline: none;
  border: none;
  font-size: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}

.addtocartBtn:hover{
  background-color: #d6ff41;
}

/* ? PAGE 3 */
.page3{
  min-height: 100vh;
  width: 100vw;
  background-color: black;
  color: white;
}

.page3TextCotainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.page3TextCotainer h1{
  margin-top: 5rem;
  font-size: 60px;
  text-transform: uppercase;
  color: #d6ff41;
}

.FacelitiesContainer{
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0 2rem;
}

.facelitiesBox1{
  width: 250px;
  height: 200px;
  background-color: azure;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  display: flex;
  flex-direction: column;
  color: black;
  justify-content: center;
  align-items: center;
}

.facelitiesBox1 h3{
  font-size: 20px;
  text-transform: uppercase;
}

.facelitiesBox1 p{
  font-size: 17px;
}

#page3Icon{
  color: royalblue;
  font-size: 60px;
  margin: 2rem 4rem;
 
}